/*GLOBAL STYLES------------------------------------*/
*, *:after, *:before {	
	box-sizing: border-box;}

h1 {
	margin: 50px auto;
	font-size: 40px;
	text-align: center;}

.container {
	margin: 0px auto;
	width: 300px;
	height: 300px;
	position: relative;}

.cell {
	width: 100px;
	height: 100px;
	float: left;}

.cell p {
	margin: 40px;
	font-size: 28px;}

[id *= "r0"],[id *= "r1"] {
	border-bottom: 1px solid black;}

[id *= "c0"],[id *= "c1"] {
	border-right: 1px solid black;}

button {
	margin: 0px auto;
	display: block;}

.wrapper {
	clear:both;
	padding-top: 50px;}